@page "/maestros/empresas/sede"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Sede</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12 row">
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<CompanyHeadquarter, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
						<MudTh>Descripción</MudTh>
						<MudTh>Dirección</MudTh>
						<MudTh>Empresa</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
							<MudTd>@context.Description</MudTd>
							<MudTd>@context.Address</MudTd>
							<MudTd>@context.Company?.Description</MudTd>
							<MudTd>@context.Status.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>


		
		
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="CompanyHeadquarter" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
	<ERP.XCore.Hotel.Web.Client.Pages.Management.Business.CompanyHeadquarter.Fields @ref="Fields" CompanyHeadquarter="CompanyHeadquarter" Companies="Companies" />
</ModalForm>

@code {
	private CompanyHeadquarter CompanyHeadquarter = new CompanyHeadquarter();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private CompanyHeadquarter[]? ItemsList;
	private SelectResource<Guid>[]? Companies;
	private string searchString1 = "";
	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<CompanyHeadquarter[]>(ApiRouteConfig.Management.Business.COMPANY_HEADQUARTER_ROUTE);
	}
	
	public async Task LoadSelects()
	{
		Companies = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/empresas");
	}

	public async Task ShowModalAsync(ModalType modalType, CompanyHeadquarter companyHeadquarter = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nueva" : "Editar")} Sede";
		CompanyHeadquarter = companyHeadquarter ?? new CompanyHeadquarter();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(CompanyHeadquarter companyHeadquarter) => FilterFunc(companyHeadquarter, searchString1);

	private bool FilterFunc(CompanyHeadquarter companyHeadquarter, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (companyHeadquarter.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (companyHeadquarter.Address.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (companyHeadquarter.Company.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(CompanyHeadquarter.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(ApiRouteConfig.Management.Business.COMPANY_HEADQUARTER_ROUTE, CompanyHeadquarter);
			}
			else
			{
				await Http.PutAsJsonAsync(ApiRouteConfig.Management.Business.COMPANY_HEADQUARTER_ROUTE + "/" + CompanyHeadquarter.Id, CompanyHeadquarter);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(CompanyHeadquarter companyHeadquarter)
	{
		await Http.DeleteAsync(ApiRouteConfig.Management.Business.COMPANY_HEADQUARTER_ROUTE + "/" + companyHeadquarter.Id);
		await Load();
    }
}
