@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Resources.Base

<MudTextField @bind-Value="Customer.Description" Label="Descripción" Variant="Variant.Outlined" />

<MudSelect T="Guid" @bind-Value="Customer.PersonTypeId" Label="Tipo de Persona" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (var item in PersonTypes)
    {
        <MudSelectItem T="Guid" Value="@item.Value">@item.Text</MudSelectItem>
    }
</MudSelect>

<MudSelect T="Guid" @bind-Value="Customer.DocumentTypeId" Label="Tipo de Documento" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (var item in DocumentTypes)
    {
        <MudSelectItem T="Guid" Value="@item.Value">@item.Text</MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="Customer.Document" Label="Documento" Variant="Variant.Outlined" />

<MudTextField @bind-Value="Customer.Sex" Label="Sexo" Variant="Variant.Outlined" />

<MudDatePicker Date="Customer.BirthDate" Label="Fecha de Nacimiento" Editable="true" Placeholder="Escoge una fecha" DateChanged="OnDateChanged" />

<MudTextField @bind-Value="Customer.Direction" Label="Dirección" Variant="Variant.Outlined" />
@*<ValidationMessage For="() => Customer.UbigeoId" />*@

<MudTextField @bind-Value="Customer.PhoneNumber" Label="Teléfono" Variant="Variant.Outlined" />
@*<ValidationMessage For="() => Customer.PhoneNumber" />*@

<MudTextField @bind-Value="Customer.Email" Label="Email" Variant="Variant.Outlined" />
@*<ValidationMessage For="() => Customer.Email" />*@

<MudTextField @bind-Value="Customer.Website" Label="Sitio Web" Variant="Variant.Outlined" />
@*<ValidationMessage For="() => Customer.Website" />*@

<MudTextField @bind-Value="Customer.MaritalStatus" Label="Estado Civil" Variant="Variant.Outlined" />
@*<ValidationMessage For="() => Customer.MaritalStatus" />*@

@*<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="RetentionAgent">Agente</label>
            <InputCheckbox @bind-Value="Customer.RetentionAgent" id="RetentionAgent" class="form-control" placeholder="Agente" />
            <ValidationMessage For="() => Customer.RetentionAgent" />
        </div>
    </div>
</div>*@

<MudSelect T="Guid" @bind-Value="Customer.UbigeoId" Label="Ubigeo" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (var item in Ubigeos)
    {
        <MudSelectItem T="Guid" Value="@item.Value">@item.Text</MudSelectItem>
@*        <ValidationMessage For="() => Customer.UbigeoId" />*@
    }
</MudSelect>

<MudSelect T="Guid" @bind-Value="Customer.CompanyId" Label="Empresa" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (var item in Companies)
    {
        <MudSelectItem T="Guid" Value="@item.Value">@item.Text</MudSelectItem>
@*        <ValidationMessage For="() => Customer.CompanyId" />*@
    }
</MudSelect>

<MudSelect T="Guid" @bind-Value="Customer.StatusId" Label="Estado" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @foreach (var item in Status)
    {
        <MudSelectItem T="Guid" Value="@item.Value">@item.Text</MudSelectItem>
@*        <ValidationMessage For="() => Customer.StatusId" />*@
    }
</MudSelect>

@code {
    [Parameter]
    public Customer Customer { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> DocumentTypes { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> Ubigeos { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> PersonTypes { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> Companies { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> Status { get; set; }

    private async Task OnDateChanged(DateTime? dateTime)
    {
        if (dateTime.HasValue)
        {
            Customer.BirthDate = dateTime.Value;
            StateHasChanged();
        }
    }
}
