@page "/maestros/seguridad/usuario"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Cuenta Usuario</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<ApplicationUser, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Correo</MudTh>
						<MudTh>Teléfono</MudTh>
						<MudTh>Émpleado</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Email</MudTd>
							<MudTd>@context.PhoneNumber</MudTd>
							<MudTd>@context.Employee.FirstName @context.Employee.LastName</MudTd>
							<MudTd>@context.Status.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="ApplicationUser" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" ApplicationUser="ApplicationUser" Employees="Employees" Roles="Roles" />
</ModalForm>

@code {
	private ApplicationUser ApplicationUser = new ApplicationUser();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private ApplicationUser[]? ItemsList;
	private string searchString1 = "";
	private SelectResource<Guid>[]? Employees;
	private SelectResource<Guid>[]? Roles;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<ApplicationUser[]>(RouteConfig.Management.Security.USER_ROUTE);
	}

	public async Task LoadSelects()
	{
		Employees = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/empleados");
		Roles = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/roles");
	}

	public async Task ShowModalAsync(ModalType modalType, ApplicationUser applicationUser = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Usuario";
		ApplicationUser = applicationUser ?? new ApplicationUser();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(ApplicationUser user) => FilterFunc(user, searchString1);

	private bool FilterFunc(ApplicationUser user, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (user.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (user.PhoneNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (!string.IsNullOrWhiteSpace(user.Employee.FirstName)&&user.Employee.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(ApplicationUser.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Security.USER_ROUTE, ApplicationUser);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Security.USER_ROUTE + "/" + ApplicationUser.Id, ApplicationUser);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(ApplicationUser applicationUser)
	{
		await Http.DeleteAsync(RouteConfig.Management.Security.USER_ROUTE + "/" + applicationUser.Id);
		await Load();
    }
}
