@page "/rack"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Rack de Habitaciones</h3>
	</div>
	<div class="col-md-12" style="height: 600px; overflow: scroll;">
		<div class="row mb-2">
			<div class="col-md-4">
				<label for="type">Tipo de habitación</label>
				<select @bind="@FilterType" id="type" class="form-control" placeholder="Tipo de Habitación">
					<option value="">Todos</option>
					@foreach(var item in RoomTypes)
					{
						<option value="@item.Value">@item.Text</option>
					}
				</select>
			</div>
			<div class="col-md-4">
				<label for="status">Estado</label>
				<select @bind="@FilterStatus" id="status" class="form-control" placeholder="Estado">
					<option value="">Todos</option>
					@foreach(var item in RoomStatus)
					{
						<option value="@item.Value">@item.Text</option>
					}
				</select>
			</div>
			
		</div>
		<div class="row mb-2">
			<div class="col-md-3">
				<img src="media/avro.png"/>
				<span>Disponible: @AvailableCount</span>
			</div>
			<div class="col-md-3">
				<img src="media/ocro.png"/>
				<span>Ocupado: @BusyCount</span>
			</div>
			<div class="col-md-3">
				<img src="media/diro.png"/>
				<span>Sucio: @DirtyCount</span>
			</div>
			<div class="col-md-3">
				<img src="media/clro.png">
				<span>Limpiándose: @CleaningCount</span>
			</div>
			<div class="col-md-3">
				<img src="media/mnto.png"/>
				<span>En Mantenimiento: @MaintenanceCount</span>
			</div>
		</div>
		<div class="row">
			@foreach(var item in ItemsList)
			{
				<div class="col-md-2">
					<div class="card d-flex align-items-center p-2 m-2" style="border: 2px solid; cursor: pointer;" @onclick="() => ShowModalAsync(item)">
						<img height="50px" width="50px" class="mt-2" src="@(item.RoomStatus.Description == "Disponible" ? "media/avro.png" : item.RoomStatus.Description == "Ocupado" ? "media/ocro.png" : item.RoomStatus.Description == "Sucio" ? "media/diro.png" : item.RoomStatus.Description == "Mantenimiento" ? "media/mnto.png" : "media/clro.png" )"/>
						<h6 class="text-center">@item.Description</h6>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<Modal @ref="ModalBusy" Title="@ModalTitle">
	<div>
		<h6>Código: </h6>
		<span>@RoomBookingDetail.Code</span>
	</div>
	<div>
		<h6>Habitación: </h6>
		<span>@RoomBookingDetail.Room.Description (@RoomBookingDetail.Room.RoomType.Description)</span>
	</div>
	<div>
		<h6>Huésped: </h6>
		<span>Sr. @RoomBookingDetail.Guest.FullName</span>
	</div>
	<div>
		<h6>Entrada: </h6>
		<span>@RoomBookingDetail.EntryTime.ToString("dd/MM/yyyy hh:mm tt")</span>
	</div>
	<div>
		<h6>Salida: </h6>
		<span>@RoomBookingDetail.ExitTime.ToString("dd/MM/yyyy hh:mm tt")</span>
	</div>
	<div>
		<h6>Método de Pago: </h6>
		<span>@RoomBookingDetail.PaymentMethod.Description</span>
	</div>
	@*<p>Acompañantes:</p>*@
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Acción</th>
				<th>Fecha</th>
				<th>Descripción</th>
				<th>Habitación</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td>@RoomBookingDetail.CreatedAt.ToString("dd/MM/yyyyy")</td>
				<td>@RoomBookingDetail.Room.RoomType.Description</td>
				<td>@RoomBookingDetail.Room.Description</td>
				<td>S/ 00.00</td>
			</tr>
		</tbody>
	</table>
</Modal>

<Modal @ref="ModalDirty" Title="@ModalTitle">
	<div>
		<h6>¿Quién se encuentra limpiando?</h6>
		<input class="form-control" placeholder="DNI o Apellidos" />
	</div>
</Modal>

<Modal @ref="ModalManagement" Title="@ModalTitle">
	<div>
		<h6>Técnico: </h6>
		<span>Sr. Pablo Zósimo</span>
	</div>
	<div>
		<h6>Observación: </h6>
		<span>Baño Atorado</span>
	</div>
</Modal>

@code {
	private Modal ModalBusy;
	private Modal ModalDirty;
	private Modal ModalCleaning;
	private Modal ModalManagement;

	private string ModalTitle;
	private Room[]? ItemsList;
	private string searchString1 = "";

	private RoomBooking RoomBookingDetail;
	private SelectResource<Guid>[]? RoomTypes;
	private SelectResource<Guid>[]? RoomStatus;
	private Guid? filterType;
	private Guid? filterStatus;

	private Guid? FilterStatus
	{
		get { return filterStatus; }
		set
		{
			filterStatus = value;
			FilterData();
		}
	}
	private Guid? FilterType
	{
		get { return filterType; }
		set
		{
			filterType = value;
			FilterData();
		}
	}

	private int AvailableCount = 0;
	private int BusyCount = 0;
	private int DirtyCount = 0;
	private int CleaningCount = 0;
	private int MaintenanceCount = 0;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Room[]>(ApiRouteConfig.Management.Rooms.ROOM_ROUTE);
		AvailableCount = ItemsList.Count(x => x.RoomStatus.Description == "Disponible");
		BusyCount = ItemsList.Count(x => x.RoomStatus.Description == "Ocupado");
		DirtyCount = ItemsList.Count(x => x.RoomStatus.Description == "Sucio");
		CleaningCount = ItemsList.Count(x => x.RoomStatus.Description == "En Limpieza");
		MaintenanceCount = ItemsList.Count(x => x.RoomStatus.Description == "Mantenimiento");
	}

	public async Task LoadSelects()
	{
		RoomTypes = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/tipos-de-habitacion");
		RoomStatus = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/estados-de-habitacion");
	}

	public async Task FilterData()
	{
		ItemsList = await Http.GetFromJsonAsync<Room[]>($"{ApiRouteConfig.Management.Rooms.ROOM_ROUTE}?tipo={(FilterType.HasValue ? FilterType.ToString() : "")}&estado={(FilterStatus.HasValue ? FilterStatus.ToString() : "")}");
		AvailableCount = ItemsList.Count(x => x.RoomStatus.Description == "Disponible");
		BusyCount = ItemsList.Count(x => x.RoomStatus.Description == "Ocupado");
		DirtyCount = ItemsList.Count(x => x.RoomStatus.Description == "Sucio");
		CleaningCount = ItemsList.Count(x => x.RoomStatus.Description == "En Limpieza");
		MaintenanceCount = ItemsList.Count(x => x.RoomStatus.Description == "Mantenimiento");
		StateHasChanged();
	}

	public async Task ShowModalAsync(Room room = null)
	{
		@if (room.RoomStatus.Description == "Disponible")
		{
			Navigation.NavigateTo($"/rack/checkin/{room.Id}");
		}
		else if (room.RoomStatus.Description == "Ocupado")
		{
			ModalTitle = $"Habitación #{room.Description}";
			if (RoomBookingDetail == null || RoomBookingDetail.RoomId != room.Id)
			{
				RoomBookingDetail = await Http.GetFromJsonAsync<RoomBooking>($"{ApiRouteConfig.Rack.DETAIL_ROUTE}/{room.Id}");
			}
			await ModalBusy.OpenAsync();
		}
		else if (room.RoomStatus.Description == "Sucio")
		{
			ModalTitle = $"Habitación #{room.Description}";
			await ModalDirty.OpenAsync();
		}
		else if (room.RoomStatus.Description == "En Limpieza")
		{
			ModalTitle = $"Habitación #{room.Description}";

		}
		else if (room.RoomStatus.Description == "Mantenimiento")
		{
			ModalTitle = $"Habitación #{room.Description}";
			await ModalManagement.OpenAsync();
		}
	}
}
