@page "/maestros/empresas/pos"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Punto de Venta</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12 row">
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">
        @if(ItemsList == null)
		{
			<p><em>Cargando...</em></p>
		}
		else
		{
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="fw-bold">
						<th>Descripción</th>
						<th>Impresora</th>
						<th>Sede</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in ItemsList)
					{
						<tr>
							<td>@item.Description</td>
							<td>@item.TicketPrinter</td>
							<td>@item.CompanyHeadquarter?.Description</td>
							<td>@item.Status?.Description</td>
							<td>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, item)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(item)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="PointOfSale" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" PointOfSale="PointOfSale" CompanyHeadquarters="CompanyHeadquarters" />
</ModalForm>

@code {
	private PointOfSale PointOfSale = new PointOfSale();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private PointOfSale[]? ItemsList;
	private SelectResource<Guid>[]? CompanyHeadquarters;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<PointOfSale[]>(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE);
	}
	
	public async Task LoadSelects()
	{
		CompanyHeadquarters = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/sedes");
	}

	public async Task ShowModalAsync(ModalType modalType, PointOfSale pointOfSale = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nueva" : "Editar")} Punto de Venta";
		PointOfSale = pointOfSale ?? new PointOfSale();
		await Modal.OpenAsync();
	}

	public async Task SaveAsync()
	{
		try
		{
			if(PointOfSale.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE, PointOfSale);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE + "/" + PointOfSale.Id, PointOfSale);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(PointOfSale pointOfSale)
	{
		await Http.DeleteAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE + "/" + pointOfSale.Id);
		await Load();
    }
}
