@page "/maestros/empresas/pos"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Punto de Venta</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12 row">
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<PointOfSale, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
						<MudTh>Descrípción</MudTh>
						<MudTh>Impresora</MudTh>
						<MudTh>Sede</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
							<MudTd>@context.Description</MudTd>
							<MudTd>@context.TicketPrinter</MudTd>
							<MudTd>@context.CompanyHeadquarter.Description</MudTd>
							<MudTd>@context.Status.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="PointOfSale" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" PointOfSale="PointOfSale" CompanyHeadquarters="CompanyHeadquarters" />
</ModalForm>

@code {
	private PointOfSale PointOfSale = new PointOfSale();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private PointOfSale[]? ItemsList;
	private SelectResource<Guid>[]? CompanyHeadquarters;
	private string searchString1 = "";

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<PointOfSale[]>(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE);
	}
	
	public async Task LoadSelects()
	{
		CompanyHeadquarters = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/sedes");
	}

	public async Task ShowModalAsync(ModalType modalType, PointOfSale pointOfSale = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nueva" : "Editar")} Punto de Venta";
		PointOfSale = pointOfSale ?? new PointOfSale();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(PointOfSale pos) => FilterFunc(pos, searchString1);

	private bool FilterFunc(PointOfSale pos, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (pos.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;

		if (!string.IsNullOrWhiteSpace(pos.TicketPrinter) 
		&& pos.TicketPrinter.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (pos.CompanyHeadquarter.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(PointOfSale.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE, PointOfSale);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE + "/" + PointOfSale.Id, PointOfSale);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(PointOfSale pointOfSale)
	{
		await Http.DeleteAsync(RouteConfig.Management.Business.POINT_OF_SALE_ROUTE + "/" + pointOfSale.Id);
		await Load();
    }
}
