@page "/maestros/habitaciones/habitacion"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Habitación</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<Room, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Nombre</MudTh>
						<MudTh>Tipo de Habitación</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Description</MudTd>
							<MudTd>@context.RoomType.Description</MudTd>
							<MudTd>@context.RoomStatus.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>


		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="Room" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" Room="Room" RoomTypes="RoomTypes" RoomStatus="RoomStatus" />
</ModalForm>

@code {
	private Room Room = new Room();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private Room[]? ItemsList;
	private string searchString1 = "";
	private SelectResource<Guid>[]? RoomTypes;
	private SelectResource<Guid>[]? RoomStatus;
	private Guid? FilterType;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Room[]>(ApiRouteConfig.Management.Rooms.ROOM_ROUTE);
	}

	public async Task LoadSelects()
	{
		RoomTypes = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/tipos-de-habitacion");
		RoomStatus = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/estados-de-habitacion");
	}

	public async Task ShowModalAsync(ModalType modalType, Room room = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nueva" : "Editar")} Habitación";
		Room = room ?? new Room();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(Room room) => FilterFunc(room, searchString1);

	private bool FilterFunc(Room room, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (room.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (!string.IsNullOrWhiteSpace(room.RoomType.Description) &&room.RoomType.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (!string.IsNullOrWhiteSpace(room.RoomStatus.Description) && room.RoomStatus.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(Room.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(ApiRouteConfig.Management.Rooms.ROOM_ROUTE, Room);
			}
			else
			{
				await Http.PutAsJsonAsync(ApiRouteConfig.Management.Rooms.ROOM_ROUTE + "/" + Room.Id, Room);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(Room room)
	{
		await Http.DeleteAsync(ApiRouteConfig.Management.Rooms.ROOM_ROUTE + "/" + room.Id);
		await Load();
    }
}
