@page "/maestros/generales/ubigeo"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json

@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Tipo de Documento</h3>
		@if(canEdit)
		{
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
		}
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
        @if(ItemsList == null)
		{
			<p><em>Cargando...</em></p>
		}
		else
		{
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="fw-bold">
						<th>Nacionalidad</th>
						<th>País</th>
						<th>Departamento</th>
						<th>Provincia</th>
						<th>Distrito</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in ItemsList)
					{
						<tr>
							<td>@item.Citizenship</td>
							<td>@item.CountryName (@item.CountryCode)</td>
							<td>@item.DepartmentName (@item.DepartmentCode)</td>
							<td>@item.ProvinceName (@item.ProvinceCode)</td>
							<td>@item.DistrictName (@item.DistrictCode)</td>
							<td>
								@if(canEdit)
								{
									
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, item)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(item)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="Ubigeo" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" Ubigeo="Ubigeo" />
</ModalForm>

@code {
	private Ubigeo Ubigeo = new Ubigeo();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private Ubigeo[]? ItemsList;

	private string subModule = "Ubigeo";
	private bool canEdit;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await LoadPermissions();
			await Load();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task LoadPermissions()
	{
		var permissionsStr = await localStorage.GetItemAsync<string>("permisos");
		var permissions = JsonSerializer.Deserialize<Permission[]>(permissionsStr);
		var permission = permissions.Where(x => x.SubModule.Description == subModule).FirstOrDefault();
		canEdit = permission?.PermissionLevel.Description == "Escritura";
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Ubigeo[]>(RouteConfig.Management.General.UBIGEO_ROUTE);
	}

	public async Task ShowModalAsync(ModalType modalType, Ubigeo ubigeo = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Estado";
		Ubigeo = ubigeo ?? new Ubigeo();
		await Modal.OpenAsync();
	}

	public async Task SaveAsync()
	{
		try
		{
			if(Ubigeo.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.General.UBIGEO_ROUTE, Ubigeo);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.General.UBIGEO_ROUTE + "/" + Ubigeo.Id, Ubigeo);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(Ubigeo ubigeo)
	{
		await Http.DeleteAsync(RouteConfig.Management.General.UBIGEO_ROUTE + "/" + ubigeo.Id);
		await Load();
    }
}
