@page "/maestros/empresas/colaborador"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Colaborador</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<Employee, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				<MudTh>Nombres</MudTh>
						<MudTh>Apellidos</MudTh>
						<MudTh>Documento</MudTh>
						<MudTh>Empresa</MudTh>
						<MudTh>Area</MudTh>
						<MudTh>Cargo</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd>@context.FirstName</MudTd>
							<MudTd>@context.LastName</MudTd>
							<MudTd>@context.Document (@(context.DocumentType?.Abbreviation ?? "DNI"))</MudTd>
							<MudTd>@context.Company.Description</MudTd>
							<MudTd>@(context.WorkArea?.Description ?? "Gerencia")</MudTd>
							<MudTd>@(context.WorkPosition?.Description ?? "Administrador")</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="Employee" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" Employee="Employee" DocumentTypes="DocumentTypes" Companies="Companies" WorkAreas="WorkAreas" WorkPositions="WorkPositions" />
</ModalForm>

@code {
	private Employee Employee = new Employee();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private Employee[]? ItemsList;
	private SelectResource<Guid>[]? DocumentTypes;
	private SelectResource<Guid>[]? Companies;
	private SelectResource<Guid>[]? WorkAreas;
	private SelectResource<Guid>[]? WorkPositions;
	private string? Filter;
	private Guid? FilterArea;
	private Guid? FilterPosition;
	private Guid? FilterCompany;
	private string searchString1 = "";

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Employee[]>(RouteConfig.Management.Business.EMPLOYEE_ROUTE + "?filtro=" + Filter + "&empresa=" + FilterCompany + "&area=" + FilterArea + "&cargo=" + FilterPosition);
	}

	public async Task LoadSelects()
	{
		DocumentTypes = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/tipos-de-documento");
		Companies = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/empresas");
		WorkAreas = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/areas");
		WorkPositions = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/cargos");
	}


	private bool FilterFunc1(Employee employee) => FilterFunc(employee, searchString1);

	private bool FilterFunc(Employee employee, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (employee.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (employee.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if(employee.Document.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}

	public async Task ShowModalAsync(ModalType modalType, Employee employee = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Colaborador";
		Employee = employee ?? new Employee();
		await Modal.OpenAsync();
	}

	public async Task SaveAsync()
	{
		try
		{
			if(Employee.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Business.EMPLOYEE_ROUTE, Employee);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Business.EMPLOYEE_ROUTE + "/" + Employee.Id, Employee);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(Employee employee)
	{
		await Http.DeleteAsync(RouteConfig.Management.Business.EMPLOYEE_ROUTE + "/" + employee.Id);
		await Load();
    }
}
