@page "/maestros/seguridad/submodulo"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Sub Modulo</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<SubModule, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Descripción</MudTh>
						<MudTh>Módulo</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Description</MudTd>
							<MudTd>@context.Module.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="SubModule" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <ERP.XCore.Hotel.Web.Client.Pages.Management.Security.SubModule.Fields @ref="Fields" SubModule="SubModule" Modules="Modules" />
</ModalForm>

@code {
	private SubModule SubModule = new SubModule();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private SubModule[]? ItemsList;
	private string searchString1 = "";
	private SelectResource<Guid>[]? Modules;


	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<SubModule[]>(ApiRouteConfig.Management.Security.SUBMODULE_ROUTE);
	}

	public async Task LoadSelects()
	{
		Modules = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(ApiRouteConfig.Select.SELECT_ROUTE + "/modulos");
	}

	public async Task ShowModalAsync(ModalType modalType, SubModule sm = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Sub Modulo";
		SubModule = sm ?? new SubModule();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(SubModule mod) => FilterFunc(mod, searchString1);

	private bool FilterFunc(SubModule mod, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (mod.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (!string.IsNullOrWhiteSpace(mod.Module.Description)&&mod.Module.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}


	public async Task SaveAsync()
	{
		try
		{
			if(SubModule.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(ApiRouteConfig.Management.Security.SUBMODULE_ROUTE, SubModule);
			}
			else
			{
				await Http.PutAsJsonAsync(ApiRouteConfig.Management.Security.SUBMODULE_ROUTE + "/" + SubModule.Id, SubModule);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(SubModule sm)
	{
		await Http.DeleteAsync(ApiRouteConfig.Management.Security.SUBMODULE_ROUTE + "/" + sm.Id);
		await Load();
    }
}
