@page "/maestros/empresas/empresa"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Empresa</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12 row">
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">

	
			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<Company, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
						<MudTh>Codigo</MudTh>
						<MudTh>Dirección</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
							<MudTd>@context.Code</MudTd>
							<MudTd>@context.Address</MudTd>
							<MudTd>@context.Status.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

	
		
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="Company" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" Company="Company" />
</ModalForm>

@code {
	private Company Company = new Company();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private Company[]? ItemsList;
	private string searchString1 = "";
	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Company[]>(ApiRouteConfig.Management.Business.COMPANY_ROUTE);
	}

	public async Task ShowModalAsync(ModalType modalType, Company company = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nueva" : "Editar")} Empresa";
		Company = company ?? new Company();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(Company company) => FilterFunc(company, searchString1);

	private bool FilterFunc(Company company, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (company.Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (company.Address.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;

		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(Company.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(ApiRouteConfig.Management.Business.COMPANY_ROUTE, Company);
			}
			else
			{
				await Http.PutAsJsonAsync(ApiRouteConfig.Management.Business.COMPANY_ROUTE + "/" + Company.Id, Company);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(Company company)
	{
		await Http.DeleteAsync(ApiRouteConfig.Management.Business.COMPANY_ROUTE + "/" + company.Id);
		await Load();
    }
}
