@page "/maestros/huespedes/huesped"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Huésped</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12 row">
	
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<Guest, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Nombres</MudTh>
						<MudTh>Apellidos</MudTh>
						<MudTh>Estado</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.FirstName</MudTd>
							<MudTd>@context.LastName</MudTd>
							<MudTd>@context.Status.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="Guest" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" Guest="Guest" DocumentTypes="DocumentTypes" Ubigeos="Ubigeos" />
</ModalForm>

@code {
	private Guest Guest = new Guest();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private Guest[]? ItemsList;
	private SelectResource<Guid>[]? DocumentTypes;
	private SelectResource<Guid>[]? Ubigeos;
	private string searchString1 = "";
	private Guid? FilterType;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			await LoadSelects();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<Guest[]>(RouteConfig.Management.Guests.GUEST_ROUTE);
	}

	public async Task LoadSelects()
	{
		DocumentTypes = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/tipos-de-documento");
		Ubigeos = await Http.GetFromJsonAsync<SelectResource<Guid>[]>(RouteConfig.Select.SELECT_ROUTE + "/ubigeos");
	}

	public async Task ShowModalAsync(ModalType modalType, Guest guest = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Huésped";
		Guest = guest ?? new Guest();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(Guest guest) => FilterFunc(guest, searchString1);

	private bool FilterFunc(Guest guest, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (guest.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (guest.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (!string.IsNullOrWhiteSpace(guest.Status.Description) && guest.Status.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(Guest.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Guests.GUEST_ROUTE, Guest);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Guests.GUEST_ROUTE + "/" + Guest.Id, Guest);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(Guest guest)
	{
		await Http.DeleteAsync(RouteConfig.Management.Guests.GUEST_ROUTE + "/" + guest.Id);
		await Load();
    }
}
