@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Resources.Base

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="description">Rol</label>
            <InputSelect @bind-Value="Permission.RoleId" id="entity" class="form-control" placeholder="Empleado">
                @foreach (var item in Roles)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </InputSelect>
            <ValidationMessage For="() => Permission.RoleId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="description">Sub Módulo</label>
            <InputSelect @bind-Value="Permission.SubModuleId" id="entity" class="form-control" placeholder="Empleado">
                @foreach (var item in SubModules)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </InputSelect>
            <ValidationMessage For="() => Permission.SubModuleId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="entity">Permiso</label>
            <InputSelect @bind-Value="Permission.PermissionLevelId" id="entity" class="form-control" placeholder="Empleado">
                @foreach (var item in PermissionLevels)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </InputSelect>
            <ValidationMessage For="() => Permission.PermissionLevelId" />
        </div>
    </div>
</div>
      
@code {
    [Parameter]
    public Permission Permission { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> Roles { get; set; }

    [Parameter]
    public ICollection<SelectResource<Guid>> SubModules { get; set; }
    
    [Parameter]
    public ICollection<SelectResource<Guid>> PermissionLevels { get; set; }
}